<div class="container">
  <header class="navbar">
    <nav>
      <a routerLink="/">
        <img width="40" height="40" src="assets/images/logo.png" alt="logo"
        /></a>
      <ul class="nav__links separated">
        <li class="nav__item">
          <a routerLinkActive="active" class="nav__link">Categories</a>
        </li>
        <li class="nav__item">
          <a routerLinkActive="active" class="nav__link">Transactions</a>
        </li>
        <li class="nav__item">
          <a routerLinkActive="active" class="nav__link">???</a>
        </li>
      </ul>
      <a (click)="logout()"><button class="btn">Logout</button></a>
    </nav>
  </header>

  <div class="side-nav"></div>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
