<footer class="main-footer">
    <section>
        <div class="button-row">
            <div class="flex-container">
                <div class="button-container">
                    <button mat-mini-fab color="primary" routerLink="/" routerLinkActive="active">
                        <mat-icon>explore</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-mini-fab color="primary">
                        <mat-icon>payment</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-mini-fab color="warn" (click)="openInputDialog()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-mini-fab color="primary" routerLink="/category" routerLinkActive="active">
                        <mat-icon>category</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-mini-fab color="primary">
                        <mat-icon>query_stats</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</footer>
