.login-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  background-color: #00b9bc;
  padding: 50px;
  border-radius: 25px;
}

:host {
  display: flex;
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button__group {
  display: flex;
  justify-content: space-between;
}
