@import "styles";

#toolbar {
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 0 2%;

  #greet {
    font-size: 1.5rem;
    margin: 0;
  }
  #name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}

.mat-toolbar {
  background: transparent;
}

header {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;

  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.navbar {
  grid-area: header;
}

.side-nav {
  grid-area: sidebar;
  max-width: 30vw;
  min-width: 10vw;
  background-color: #00b9bc;
}

.nav__links {
  display: flex;
  flex-direction: row;
}

.nav__links.separated .nav__item .nav-link {
  min-height: 2.6rem;
}

.nav__links.separated .nav__item:not(:last-of-type)::after {
  content: "|";
  padding: 0.25rem 1.5rem;
}

.nav__link.active {
  border-bottom: 1px solid var(--primary);
  text-transform: uppercase;
  color: var(--primary);
}

.nav__link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--primary);
}

.logo a:hover {
  text-decoration: none;
}
