@import "styles";

#toolbar {
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  padding: 0 2%;

  #greet {
    font-size: 1.5rem;
    margin: 0;
  }
  #name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
  }
}

.mat-toolbar {
  background: transparent;
}

header {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 100vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}

.content {
  flex: 1;
  max-height: 80vh;
}

/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  display: flex;
  flex-direction: column;

  > *:not(router-outlet) {
    flex: 1;
    display: block;
  }
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
}

.footer {
  height: 11vh;
}

.navbar {
  grid-area: header;
}
