<h1 mat-dialog-title>
  Row Action :: <strong>{{ action }}</strong>
</h1>
<div style="height: 9vh" mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input
      name="name"
      placeholder="{{ action }} Name"
      matInput
      [(ngModel)]="localData.name"
    />
  </mat-form-field>

  <ng-container *ngIf="action != 'Delete'">
    <mat-checkbox
      name="checkbox"
      class="example-margin"
      [(ngModel)]="localData.isShared"
      >Share this categorie?</mat-checkbox
    >
  </ng-container>

  <ng-template #elseTemplate>
    Sure to delete <b>{{ localData.name }}</b
    >?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{ action }}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">
    Cancel
  </button>
</div>
