<h1 mat-dialog-title></h1>
<div mat-dialog-content>
    <ng-container *ngIf="action === 'dateRange'">
        <form [formGroup]="selectInputForm">
            <div class="row center">
                <mat-form-field class="w75" appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date" />
                        <input matEndDate formControlName="end" placeholder="End date" />
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
            </div>
        </form>
    </ng-container>

    <ng-container *ngIf="action == 'Add' || action == 'Update'">
        <mat-checkbox name="checkbox" class="example-margin" [(ngModel)]="localData.isShared"
            >Share this categorie?</mat-checkbox
        >
    </ng-container>

    <ng-container *ngIf="action == 'Delete'">
        Sicher das <b>{{ localData.name }}</b> gelöscht werden soll?
    </ng-container>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="doAction()">Speichern</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Abbruch</button>
</div>
