<div class="chart-wrapper">
    <!--  <canvas-->
    <!--    baseChart-->
    <!--    [ngStyle]="{-->
    <!--      color: transactionType === transactionTypeEnum.Income ? 'green' : 'red'-->
    <!--    }"-->
    <!--    [datasets]="barChartData"-->
    <!--    [labels]="barChartLabels"-->
    <!--    [options]="barChartOptions"-->
    <!--    [plugins]="barChartPlugins"-->
    <!--    [legend]="barChartLegend"-->
    <!--    [chartType]="barChartType"-->
    <!--  >-->
    <!--  </canvas>-->

    <canvas
        baseChart
        width="400"
        height="400"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="lineChartColors"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [plugins]="barChartPlugins"
    >
    </canvas>
</div>
